@charset 'utf-8' ;

.container{width: 1200px; margin: 0 auto;}


.menu{height: 60px;}
.menu>ul{display: flex; justify-content: space-between; height: 100%;}
.menu>ul>li{ width: calc(100% / 5 );}
.menu>ul>li>a{ 
    width: 100%; height: 100%; background-color: pink;
    display: flex; justify-content: center; align-items: center;
}
.menu>ul>li>a:hover{background: skyblue; color: #fff;}

.visual{
    height: 300px; background-color: green;
    display: flex; justify-content: center; align-items: center;
}

/* content */
/* .section{}
.section .aside{
    float: right;width: 290px; height: 800px;
    background-color: pink;
}
.section .contents{
    float: left;
    width: 900px ; height: 800px; background: skyblue; 
} */

.section{height: 800px; display: flex; justify-content: space-between;}
.section .aside{width: 290px; background:pink; order: 2;}
.section .contents{width: 900px; background-color: skyblue; order: 1;}


.footer{
    background: red;
    padding: 30px 0;
}

/* company  */
.visual.company{
    height: 200px; background-color: gold;
    display: flex; justify-content: center; align-items: center;
}

section.company